.odd {
   background-color: #FFC0CB;
   font-family: Verdan, DejaVu Sans, sans-serif;
}

.font-24 {
  font-size: 24px;
}


.second {
   color: #0000ff;
   font-size: 36px;
}


.fourth {
    background-color: #90EE90;
    font-weight: 700;
}